/*
    CSS for the poetry page
*/
.radley-regular {
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
}
  
.radley-regular-italic {
font-family: "Radley", serif;
font-weight: 400;
font-style: italic;
}
  

body {
    font-family: "Radley", serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    /* height: 100vh; */
}

.container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}


.header {
    text-align: center;
}

.header h1 {
    font-size: 2em;
    color: #0056b3;
}

.content ul {
    list-style-type: none; /* Removes the default list item markers */
    padding: 0;
}

.content li {
    margin-bottom: 10px; /* Increases space between lines */
    line-height: 2; /* Adjusts line spacing */
    word-spacing: 0.2em; /* Increases space between words */
    display: block;
    justify-content: flex-start;
}

.content a {
    text-decoration: none; /* Removes the underline from links */
    color: #0056b3;
}

.content a:hover {
    color: #333; /* Optional: Changes the color on hover */
}

.links a {
    text-decoration:underline;
    text-decoration-style: dotted; /* Adds a dotted underline to links */
    color: #0056b3;
    display: flex;
    margin-top: 10px;
    font-style: italic;
    font-size: small;
}

.links a:hover {
    color: #333; /* Optional: Changes the color on hover */
}
